.mat-dialog-content {
  margin-bottom: 15px;
  font-weight: none;
}

button {
  outline: none; // this one
}

// .mat-dialog-container {
//   padding: 0;
//   overflow: hidden;
// }

// .mat-dialog-content {
//   margin: 0;
// }

// .mat-dialog-actions {
//   margin-bottom: 0px !important;
//   padding: 20px 30px;
// }
