<!--
  /**
* Author - Trinadh
* Version - 1.0
* Create date - 19 oct 2019
*/
-->

<div class="modal-header">Email</div>
<div class="modal-body mat-typography">
  <div class="form-group">
    <label>Sender:</label>
    <input
      disabled
      type="text"
      class="form-control form-control-rounded"
      [(ngModel)]="data.sender"
    />
  </div>
  <div class="form-group">
    <label>Receiver:</label>
    <input
      disabled
      type="text"
      class="form-control form-control-rounded"
      [(ngModel)]="data.receiver"
    />
  </div>
  <div class="form-group">
    <label>Subject:</label>
    <input
      disabled
      type="text"
      class="form-control form-control-rounded"
      [(ngModel)]="data.subject"
    />
  </div>
  <div class="form-group">
    <label>Body:</label>
    <textarea
      style="height: 150px"
      class="form-control form-control-rounded"
      type="text"
      [(ngModel)]="data.body"
      disabled
    ></textarea>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary btn-rounded"
    [mat-dialog-close]="true"
  >
    Cancel
  </button>
</div>
