<div class="row mt-6 d-flex justify-content-center">
  <div class="col-4 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                        height: 120px; width: 120px;" routerLink="/mainlayout/analytics">
          <img class="image-margin" src="/assets/images/analytics.png" alt="fileupload" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>Analytics</span>
      </div>
    </div>
  </div>

  <div class="col-4 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                          height: 120px; width: 120px;" routerLink="/mainlayout/psur-reports">
          <img class="image-margin" src="/assets/images/case.png" alt="narrative" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>PSUR Reports</span>
      </div>
    </div>
  </div>

  <div class="col-4 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                          height: 120px; width: 120px;" routerLink="/mainlayout/line-listing">
          <img class="image-margin" src="/assets/images/case.png" alt="Line listing" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>Line Listing</span>
      </div>
    </div>
  </div>
</div>