<!--
  /**
* Author - Trinadh
* Version - 1.0
* Create date - 14 september 19
*/
-->

<div class="row d-flex justify-content-end">
  <button mat-mini-fab color="primary" (click)="addrule()" [disabled]="!create">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="mt-3">
  <ngx-datatable class="material" [rows]="filteredItems" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="40" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40" rowHeight="auto"
    [messages]="nodata">
    <ngx-datatable-column prop="ruleName">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="c-p" (click)="sort()">Rule Name</span>
      </ng-template>
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span style="cursor:pointer;" (click)="update ? editRule(row._id) : ''">{{ row.ruleName }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="source">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="c-p" (click)="sort()">Source</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="seriousness">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="c-p" (click)="sort()">Seriousness</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="priority">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="c-p" (click)="sort()">Priority</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="deadline">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="c-p" (click)="sort()">Deadline</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>