<!-- <div class="calender container w-75 mt-2 mb-2">
  <div class="mb-2 mt-2 row">
    <div class="btn-group ml-auto" role="group">
      <mat-checkbox color="primary" [(ngModel)]="showWeekends">Show weekends</mat-checkbox>
    </div>
  </div>
  <full-calendar id="fullcalendar" defaultView="dayGridMonth" [header]="headerOptions" [plugins]="calendarPlugins"
    [weekends]="showWeekends" [events]="calendarEvents" (eventClick)="eventClicked($event)" deepChangeDetection="true">
  </full-calendar>
</div>  -->

<div class="row">
  <div class="col-12">
    <app-cra-pi-home></app-cra-pi-home>
  </div>
</div>