<div class="m-2"><strong>Result ID: &nbsp;</strong>405493</div>
<div class="card m-2">
  <div class="card-header">
    <strong style="color: #663399; font-size: 14px;">ALERTS ACTION CATALOGUE</strong>
  </div>
  <div class="card-body">
    <div class="card">
      <div class="card-header">
        <strong>AI Action Trends</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-body p-2">
              <span class="p-2" style="border-radius: 8px;background-color: lightpink;">Non-serious cases 71
                (100%)</span>
            </div>
          </div>
          <div class="col-8">
            <div class="card-body p-2">
              <span class="p-2" style="border-radius: 8px;background-color: rgb(38, 199, 191);">Patients had trouble
                swallowing
                62 (85%)</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="card-body p-2">
              <span class="p-2" style="border-radius: 8px;background-color: lightskyblue;">No clinical event or adverse
                outcome 71 (100%)</span>
            </div>
          </div>

          <div class="col-6 d-flex justify-content-end">
            <div class="card-body p-2">
              <span class="p-2" style="border-radius: 8px;background-color: lightgreen;">Not a new product quality issue
                68 (95%)</span>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <div class="card-body p-2">
              <span class="p-2" style="border-radius: 8px;background-color: lightblue;">Insufficient evidence for new
                safety signal 71 (100%)</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        <strong>Browse Catalogue</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table" style="border: 1px solid lightgray;">
              <thead>
                <tr>
                  <th scope="col" style="width: 20%;">Date</th>
                  <th scope="col" style="width: 80%;">Activities</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">03 Dec 19</th>
                  <td>Alert processed [End date: 08-Nov-2019] <br>
                    Disproportionality 025 <span class="badge badge-danger" style="font-size: 10px;">Spontaneous</span>
                    <br>
                    Two current non-serious cases reported from consumer source were reviewed. The cases involved
                    patients
                    who had trouble swallowing the products characterizing the complaint. No clinical event or adverse
                    reaction was reported. The event does not suggest a new product quality issue. There is insufficient
                    evidence to suggest a new safety signal.</td>
                </tr>
                <tr>
                  <th scope="row">03 Nov 19</th>
                  <td>Alert processed [End date: 08-Oct-2019] <br>
                    Disproportionality 025 <span class="badge badge-danger" style="font-size: 10px;">Spontaneous</span>
                    <br>
                    Five current non-serious cases reported from consumer source were reviewed. The cases involved
                    patients
                    who had trouble swallowing the products characterizing the complaint. No clinical event or adverse
                    reaction was reported. The event does not suggest a new product quality issue. There is insufficient
                    evidence to suggest a new safety signal.</td>
                </tr>
                <tr>
                  <th scope="row">03 Oct 19</th>
                  <td>Alert processed [End date: 08-Sep-2019] <br>
                    Disproportionality 025 <span class="badge badge-danger" style="font-size: 10px;">Spontaneous</span>
                    <br>
                    Three current non-serious cases reported from consumer source were reviewed. The cases involved
                    patients
                    who had trouble swallowing the products characterizing the complaint. No clinical event or adverse
                    reaction was reported. The event does not suggest a new product quality issue. There is insufficient
                    evidence to suggest a new safety signal.</td>
                </tr>
                <tr>
                  <th scope="row">03 Sep 19</th>
                  <td>Alert processed [End date: 08-Aug-2019] <br>
                    Disproportionality 025 <span class="badge badge-danger" style="font-size: 10px;">Spontaneous</span>
                    <br>
                    Seven current non-serious cases reported from consumer source were reviewed. The cases involved
                    patients
                    who had trouble swallowing the products characterizing the complaint. No clinical event or adverse
                    reaction was reported. The event does not suggest a new product quality issue. There is insufficient
                    evidence to suggest a new safety signal.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>