<!-- <div echarts
     [options]="option"
     class="demo-chart"></div> -->

<div class="row mt-6 ml-auto mr-auto">
  <div class="col-3 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                    height: 120px; width: 120px;" routerLink="/mainlayout/createcase">
          <img class="image-margin" src="/assets/images/case.png" alt="fileupload" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>Case Intake</span>
      </div>
    </div>
  </div>

  <div class="col-3 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                      height: 120px; width: 120px;" routerLink="/mainlayout/casemanagement">
          <img class="image-margin" src="/assets/images/triage.png" alt="narrative" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <!-- <span>Triage & Case Processing</span> -->
        <span>Case Management</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                      height: 120px; width: 120px;" routerLink="/mainlayout/aesignals">
          <img class="image-margin" src="/assets/images/aesignals2.png" alt="e2b" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>AE Signals</span>
      </div>
    </div>
  </div>

  <div class="col-3 d-flex justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="bg-color-circle c-p" style="border-radius: 50%; text-align:center;
                height: 120px; width: 120px;" routerLink="/mainlayout/dashboard">
          <img class="image-margin" src="/assets/images/analytics.png" alt="fileandnarrative" />
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <span>Reports & Analytics</span>
      </div>
    </div>
  </div>
</div>