<div class="row m-2">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="form-group row mt-2">
          <div class="col-6">
            <label>Study ID</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Study ID" [(ngModel)]="data.id">
          </div>

          <div class="col-6">
            <label>Study Name</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Study Name"
              [(ngModel)]="data.name">
          </div>
        </div>

        <div class="form-group row mt-2">
          <div class="col-6">
            <label>Site ID</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Site ID"
              [(ngModel)]="data.siteId">
          </div>

          <div class="col-6">
            <label>Study Site</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Study Site"
              [(ngModel)]="data.studySite">
          </div>
        </div>

        <div class="form-group row mt-2">
          <div class="col-6">
            <label>Protocol Number</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Protocol Number"
              [(ngModel)]="data.protocolNumber">
          </div>

          <div class="col-6">
            <label>Protocol Title</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Protocol Title"
              [(ngModel)]="data.protocolTitle">
          </div>
        </div>

        <div class="form-group row mt-2">
          <div class="col-6">
            <label>Protocol Details</label>
            <input class="form-control form-control-rounded" type="text" placeholder="Protocol Details"
              [(ngModel)]="data.protocolDetails">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>